@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Rubik', sans-serif;

}
button {
background-color:#e9c46a;
color:black;
margin-right:3px;
padding:5px 5px;
border-radius:5px;}
div#menuButtons {
    margin-left: 10px;
}
div#classListToChoose input{
    display: block;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
    
}
div#classListToChoose input{
background-color:transparent;
size: 12px;
border:none;
}
body {
    background-color: #D8E0D0;
    
}

div#Samurai-classinput > input{
    transition: 0.5s;
}

div#Villager-classinput > input{
    transition: 0.5s;
    }

div#Dwarf-classinput > input{
        transition: 0.5s;
        }

div#Lancer-classinput > input{
    transition: 0.5s;
    }

div#Samurai-classinput > input:hover{
    transform: scale(1.1);
    display:inline;
}

div#Dwarf-classinput > input:hover{
    transform: scale(1.1);
    display:inline;
}


div#Lancer-classinput > input:hover{
    transform: scale(1.1);
    display:inline;
}


div#Villager-classinput > input:hover{
    transform: scale(1.1);
    display: inline;
}

div#classListToChoose input:focus {
    transform: scale(0.75) rotate(360deg)
    }
    

div#classListToChoose input:hover + p{
    display: inline;
    margin-left: 20px;
    margin-bottom: 0px;
}

div#classListToChoose input:active + p{
    display: none;
}

.classic{
    display: inline;
    
}
.antiqueGame{
    background-image: url(./images/antiquePaper-600.jpg);
    margin:20px 0px 0px 10px;
    padding: 5px 0px 10px 20px;
    width: 400px;
    font-size: 1.5em;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.356);

}

div#classListToChoose p{
    display:none;
    font-size: 2.5em;
}

p#lost{
 color:#e63946;
 font-weight: bold;
 font-size: 1.25em;   
}

p#won{
    color: #2a9d8f;
    font-weight: bold;
    font-size: 2em;   
}

.hidden{

    display: none;
}
.seen{
    display: inline-block;
}
p#won.seen, p#lost.seen{
    display:block;
    
}

.dynamicCreated{
    margin:20px 0px 0px 10px;
    padding: 5px 0px 10px 20px;
    width: 400px;
    display:inline-block;
    background: antiquewhite;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.356);
    

}
p#player, p#enemy{
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
}

img#EnemyWeapon{
    transform: scaleX(-1);
    margin-left: 200px;
}

.doHighlight{
    transition: all 0.75s;
    animation-name: highlight;
    animation-duration: 1s;
    animation-iteration-count: 3;
}

@keyframes highlight {
    from{}
    to{background-color: #e63946;
    transform: scale(1.3);}
}

.clearable{
    display: inline;
}

.showdown{
    margin-top: 30px;
    margin-left: 20px;
}

.dmgUP{
    display:inline-block;
    animation: dmgUpTwo 0.7s ease-out

}  

.atkFront{
    transition: all 1s;
    animation-name: AtkFront;
    animation-duration: 1s;
}

.enemyDefends{
    transition: all 1s;
    animation-name: enemyDefends;
    animation-duration: 1s;
}

@keyframes dmgUpOne{
0%{transform: translateX(0px)}
50%{transform: translateX(-20px);}   
75%{transform: translateX(0px);}
100%{    font-weight: 900;
    color: #741c23;}
}

@keyframes dmgUpTwo{
    0%{
        font-weight: 900;
        color: #741c23;
        transform: translateY(0px)}
    50%{
        font-weight: 900;
        color: #741c23;
        transform: translateY(60px);}   
    100%{
        font-weight: 900;
        color: #741c23;
        transform: translateY(0px)}
    }

@keyframes AtkFront{
    0%{transform: translateX(-20px)}
    25%{transform: translateX(200px)}
    50%{transform: rotate(135deg)}
    75%{transform: rotate(0deg)}
    100%{}
}

@keyframes enemyDefends {
    0%{transform: translateX(-10px)}
    15%{transform: translateX(200px)}
    30%{transform: rotate(-90deg)}
    75%{transform: rotate(0deg)}
    100%{}

}